<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

# Homework 2: classification
Data source: http://archive.ics.uci.edu/ml/datasets/Polish+companies+bankruptcy+data

In [1]:
from scipy.io import arff
import pandas as pd
import numpy as np

In [2]:
data = arff.loadarff('4year.arff')
df = pd.DataFrame(data[0])

In [3]:
df['bankruptcy'] = (df['class']==b'1')

In [4]:
df = df[["Attr1", "Attr4","Attr7","Attr10","bankruptcy"]]

In [5]:
df.columns = ["x1","x4","x7","x10","bankruptcy"]

In [6]:
for column in df.columns:
    df.fillna(df[column].mean(),inplace=True)

In [7]:
# bankrupt  
df[df["bankruptcy"]==True].describe()

               x1          x4          x7         x10
count  515.000000  515.000000  515.000000  515.000000
mean    -0.068873    3.781528   -0.061538    0.103367
std      0.568076   18.326984    0.568432    1.946747
min     -4.050600    0.002023   -4.050600  -39.156000
25%     -0.145510    0.732510   -0.142590    0.105600
50%      0.000000    1.059900    0.000490    0.305830
75%      0.044640    1.654750    0.050749    0.516560
max      9.803700  214.440000    9.803700    0.999450

In [8]:
# still operating
df[df["bankruptcy"]==False].describe()

                x1            x4           x7          x10
count  9277.000000   9277.000000  9277.000000  9277.000000
mean      0.049231      8.340851     0.066160     0.404862
std       0.343002    297.917619     0.530524     4.692936
min     -12.458000     -0.045319   -12.458000  -445.910000
25%       0.003128      1.062200     0.004711     0.306400
50%       0.043545      1.624300     0.051730     0.519670
75%       0.113140      2.946400     0.129390     0.721390
max      20.482000  27146.000000    38.618000    12.602000

In [9]:
# all
df.describe()

                x1            x4           x7          x10
count  9792.000000   9792.000000  9792.000000  9792.000000
mean      0.043019      8.101058     0.059444     0.389005
std       0.359303    290.008842     0.533317     4.590066
min     -12.458000     -0.045319   -12.458000  -445.910000
25%       0.001322      1.039825     0.003005     0.294260
50%       0.041374      1.585750     0.048801     0.510435
75%       0.111125      2.874125     0.126930     0.714285
max      20.482000  27146.000000    38.618000    12.602000

In [10]:
sum(df["x1"] < df["x1"].mean()-df["x1"].std())

284

In [11]:
sum(df["x10"] < df["x10"].mean()-df["x10"].std())

24

In [12]:
sum((df["x1"] < df["x1"].mean()-df["x1"].std()) & (df["bankruptcy"]==True)) / sum(df["x1"] < df["x1"].mean()-df["x1"].std())

0.20774647887323944

In [13]:
sum((df["x10"] < df["x10"].mean()-df["x10"].std()) & (df["bankruptcy"]==True)) / sum(df["x10"] < df["x10"].mean()-df["x10"].std())

0.125